/* TYPO */
a.button{display:inline-block;padding:6px 10px;color:#666;background-color:#e8e7d7;border-style:solid;border-width:1px;border-color:#d8d7c0 #AAA #AAA #d8d7c0;font-weight:bold;text-shadow:-1px -1px 0 white;text-decoration:none}
  a.button:hover{color:var(--bgbtn);text-decoration:none}
  a.button.disabled, a.button.disabled:hover{opacity:0.7;color:#AAA}
.btn-prefix{margin:0 0.5rem 2px 0}
input,textarea,select{background-color:white;border:solid 1px #d0d0d0}
input,textarea{padding:3px 5px}
input[type=radio]{margin:0 4px 0 2px;padding:0}
select{padding:2px 5px 2px 2px}
button{padding:2px 8px;background-color:var(--bgbtn);opacity:0.8;color:white;border:2px solid var(--bgbtn);text-decoration:none;border-radius:3px}
button.inline{padding:3px 8px}
#jumpto{width:120px;color:#BBB} #jumpto option:disabled{color:#BBB}
@media print{#jumpto{display:none}}
p.row-confirm{padding-top:6px;border-top:1px solid var(--bgbtn)}
#cmd-export-selected svg{margin-left:3px}
.spinning{animation:rotation 3.75s infinite linear} @keyframes rotation{from{transform: rotate(359deg)}to{transform: rotate(0deg)}}

/* TYPO specific */
.input-pwd{position:relative}
.toggle-pwd{position:absolute;padding:0 8px;top:50%;transform:translate(-100%,-50%);color:#999}
.toggle-pwd:hover{color:#000}
#text-area{width:95%;resize:vertical}
.rules{margin:0 auto 20px auto;padding:4px 8px;background-color:#FFF;border:solid 1px #AAA;height:200px;overflow:auto}
fieldset.register{margin:0 0 15px 0;padding:15px 0 0 8px;text-align:right;border:solid 1px #CCC;border-width:1px 0 0 0}
fieldset.register legend{color:#AAA;font-weight:bold;text-align:left}
fieldset.register select, fieldset.register input{margin:0 0 3px 0}
#secu-txt-code{font-family:Courrier;padding:4px 8px;color:#000;background-color:#DDD}

/* SEARCH BAR */
#searchbar{padding:0.6rem 0.5rem 0.5rem 0.5rem;background-color:#f0f0f0;justify-content:flex-end;gap:0.5rem;align-items:center}
#searchbar .img{vertical-align:baseline}
#searchbar .button-x{padding:0.1rem 0.4rem;font-size:1.2rem;background-color:transparent}
@media print{#searchbar{display:none !important}}

/* MSGBOX general */
.msgbox{width:450px;margin:0 auto;background-color:var(--bgform);border:solid 1px #cc3234;box-shadow:3px 3px 4px #CCC}
.msgbox + .msgbox{margin-top:1.5rem}
.msgbox.short{width:350px}
@media screen and (min-width:1024px) and (max-width:1279px){.msgbox{width:475px} .msgbox.short{width:375px}}
@media screen and (min-width:1280px){.msgbox{width:500px}  .msgbox.short{width:400px}}
.msgboxtitle{padding:0.75rem 1.5rem;color:#FFF;background:linear-gradient(130deg,var(--bgbtn) 50%,#fd595b 70%,var(--bgbtn) 90%,var(--bgbtn));font-size:1.6rem}
.msgboxbody{padding:1.5rem}
.msgboxbody p.list small{color:#888}

/* MSGBOX specific */
.msgbox.formRegister{width:650px}
.msgbox.formPwd{width:550px}
.pg-privacy .msgbox{width:720px}
@media screen and (min-width:1280px){
  .msgbox.formRegister{width:700px}
  .msgbox.formPwd{width:575px}
  .pg-privacy .msgbox{width:750px}
}
@media screen and (max-width:1023px){
  .msgbox.formRegister{width:600px}
  .pg-privacy .msgbox{width:90%}
}
div:is(.formLogin, .formPwd) .msgboxbody p{text-align:right}
div.formHelp p{margin:0 0 0.8rem 0}
@media screen and (max-width:1023px){div.formHelp{padding:0.5rem;border:1px solid #ddd} }

/* TAGS and tags edit */
.tag-box{margin:1rem auto 0 auto;padding:0.5rem;width:60%;text-align:center;border:1px solid #DDD}
.tag-box .filigrane{display:none}
.tag-box p{margin-bottom:0.3rem}
@media print{.tag-box{width:auto}}
@media screen and (max-width:959px){.tag-box{width:auto}}

.tag-btn{margin:0 0 0 3px;padding:2px 4px;border:none}
div.tags > div#tag-container{padding:5px 0 0 0}
span.tags{color:#888}
.tag{display:inline-block;margin:1px;padding:0 3px 1px 3px;background-color:#fbffb0;color:#000;font-size:0.9rem;border:solid 1px #B69C84;border-radius:2px;text-decoration:none}
div.tags{margin:3px 0 6px 0;padding:3px 0 1px 0;width:100%}
#tag-shown > span.tag, a.tag{cursor:pointer}
a.tag:hover{border-color:var(--ah)}

/* QUICK REPLY */
.pg-item #message-preview{margin:10px 0 0 0}
.pg-form-edit #message-preview{margin:0 0 10px 0}
.quickreply{
  width:600px;margin:15px auto;padding:var(--gap);
  display:grid;
  grid-template-columns:min-content 1.5fr 1fr 1.5fr;
  grid-template-rows:min-content 1fr;
  grid-template-areas: "g-qr-icon g-qr-bbc g-qr-title g-qr-btn" "g-qr-icon g-qr-text g-qr-text g-qr-text";
  gap:var(--gap);
  background-color:#f0f0f0;border:solid 1px #e5e5e5;border-radius:10px;
}
@media print{div.quickreply{display:none}}
.g-qr-icon{grid-area:g-qr-icon}
.g-qr-title{grid-area:g-qr-title;padding:5px;font-weight:bold;color:#AAA}
.g-qr-bbc{grid-area:g-qr-bbc;align-self:end}
.g-qr-btn{grid-area:g-qr-btn;text-align:right} .g-qr-btn button{margin-left:4px}
.g-qr-text{grid-area:g-qr-text}
.g-qr-text textarea{display:block;min-height:100px;resize:vertical}
#quickreply-footer{padding:0;font-size:smaller;text-align:center;opacity:0.25}
.g-qr-text textarea:focus + #quickreply-footer{opacity:1}

/* edit post */
div.edit-post{
  margin-top:10px;
  padding:var(--gap);
  display:flex;
  gap:var(--gap);
  background-color:#eee;border:1px solid #ddd;border-top-left-radius:10px
}
div.edit-type{flex-shrink:1}
div.edit-form{flex-grow:1}
div.edit-form th, div.edit-form td{padding:var(--gap)}
div.edit-form th{width:90px;text-align:right;font-weight:bold}
input#edit-form-title,
#text-area{width:100%;resize:vertical}

/* FORMS */
#signature-preview{margin:5px 0;padding:0.5rem;background-color:#f6f6f6;border:solid 1px #DDD}

/* bbc */
.bbc-bar{display:flex;gap:0.3rem;margin-bottom:4px} .quickreply .bbc-bar{margin-bottom:0}
a.bbc{display:inline-block;padding:0.2rem 0.4rem 0.1rem 0.4rem;border:1px solid #CCC}
a.bbc:hover{cursor:pointer;background-color:#FFF;color:var(--ah)}

/* search page */
div.lettres{padding:0.5rem 0}
div.lettres span.label{display:inline-block;padding:4px 6px 4px 0}
div.lettres a{display:inline-block;padding:3px 6px;vertical-align:middle;background-color:#e5e5e5;border:solid 1px #fff;border-radius:2px;color:#000;text-decoration:none}
div.lettres a:not(.active):hover{background-color:var(--bgbtn);border-color:#c5c5c5;cursor:pointer;color:#fff}
div.lettres a.active{color:var(--bgbtn);background:#FFF;cursor:default;text-decoration:none;font-weight:bold}
div.lettres input[type=text]{margin:0 0 0 5px;padding:2px 5px;width:30px;border:solid 1px #AAA;border-radius:0}
div.lettres button{margin-left:3px;padding:3px 5px;border:none}

#searchcmd{display:flex;gap:0.4rem;justify-content:flex-end}
.search-box{display:flex;align-items:center;gap:0.5rem;margin:1rem 0;padding:8px;background-color:#F8F8F8;border:solid 1px #DFDFDF;border-radius:5px}
.search-box.options{width:max-content;margin:0 0 2rem 0}
.search-box #opt-s{max-width:250px}
.search-box:hover{background-color:#F4F4F4}
.search-box .filigrane{display:inline-block;vertical-align:middle;margin-right:5px;font-size:min(38px,2.2rem);color:#CCC}
.search-box table td{padding:1px}