/* IMPORTANT: contrast is inside @media screen{}, thus NOT applied to @media print */
/* Contrast is loaded after others css. It will overwrite/transform previous rules having the same specificity */
@media screen {

  :root{
    color-scheme:dark;
    --c:#FFF; --a:#FFFF00; --ah:#FFFF00;
    --ban-bg:#125faf; --bgbtn:#1364B7; --msg-bg:#002140;
    --adm-bg:#00c6cf; --rowlight:#071b38; --rowlighthover:#002e4b;
    --btn-bg:#1364B7; --btn-color:#fff;
    --btn-border:1px solid #388cdf
  }

  /* TYPO */
  body{font-size:min(110%,22px)}
  *{box-shadow:none !important; text-shadow:none !important}
  small, .small, .minor, .error, .warning{font-size:0.9rem}
  .minor{color:#bbb}

  /* LAYOUT */
  body{background:revert;background-image:none;background-color:#222}
  #site,main{background-color:transparent;border:none}
  #main-hd,#main-ct,#main-ft{padding:1vw 0}

  input, textarea, select, option, .rules{background-color:#222;color:#ffffcc}
  input:focus, button:focus, textarea:focus, select:focus{outline:none; border:1px solid #ffff00}
  optgroup{background-color:#888;color:#fff}
  input, select, textarea{border:solid 1px #888}
  input::placeholder, select::placeholder{color:#888}

  a{text-decoration:none}
  a:hover{text-decoration:underline}
  .tag{background-color:#d4ebff;border:1px solid #d4ebff;color:black}
  a.tag:hover{background-color:#000;border-color:#FFFF00;color:#FFFF00;text-decoration:none}
  a.goto{margin-left:0.2rem;color:#ffffcc}
  a.goto:hover{color:var(--ah)}
  @media print{a.goto{display:none}}

  .page{padding:0.1rem 0.3rem;color:var(--c);border-color:#555;border-radius:0;text-decoration:none}
  .page.current{background-color:#000;border-color:#999;}
  .page:hover:not(.current){color:var(--a);border-color:var(--a);text-decoration:none}
  .page.first{border-radius:3px 0 0 3px;margin-left:0.5rem}
  .page.last{border-radius:0 3px 3px 0}

  #pagelog{font-size:9pt;background-color:#000;color:#fff}
  div.lettres a{background-color:#000;color:#fff;border-color:#444}
  div.lettres a:not(.active):hover{background-color:#000;color:#FFFF00;border-color:#FFFF00}
  .toggle-pwd:has(.svg-eye):hover{color:#000}

  /* BANNER */
  #banner[data-layout="0"] #menulang{background-color: #333; border:none}
  #banner[data-layout="0"] nav{background-color: var(--ban-bg);border-radius:5px}
  #banner[data-layout="1"],
  #banner[data-layout="2"] {background:linear-gradient(to bottom, #0b4783 20%, var(--ban-bg));border:2px solid var(--ban-bg);border-radius:5px 5px 0 0;border-bottom:none}
    /* LANG */
    #banner[data-layout="1"] #menulang, #banner[data-layout="2"] #menulang {padding:0 5px 0 0}
    #menulang .active{color:#FFF;font-weight:bold} #banner[data-layout="0"] #menulang .active{color:#FFF}
    #menulang a{color:#ddd}                        #banner[data-layout="0"] #menulang a {color:#ddd}
    #menulang a:hover{color:var(--ah)}               #banner[data-layout="0"] #menulang a:hover {color:var(--ah)}
    /* NAV */
    :root{--nav-c:#DDD; --nav-a:#DDD; --nav-ah:#FFFF00}
    nav a{background-color:transparent;border-color:transparent}

  /* WELCOME and SEARCH */
  #intro{margin:0;background:none;background-color:#094178;border:none}
  #intro a{color:#FFF}
  #searchbar{background:none;background-color:#094178;border:none;border-bottom:3px solid #222}

  #viewmode{padding:4px 6px;background-color:transparent;border:solid 1px #fff;color:#FFF} #viewmode:hover{color:#FFFF00;border-color:#FFFF00}

  aside{background-color:#444;color:#ccc;border:none}
  #aside-ctrl{color:#FFFF00;border:none}
  #aside-ctrl:hover{color:#FFFF00;border-color:#FFFF00}
  footer{border-top:none}
  footer a{color:#bbb} footer a:hover{color:#FFF}

  .pg-title{color:#DDD}

  /* Buttons and Navigation buttons */
  button, .button, .nav button, .nav .button{
    opacity:1; background-color:var(--btn-bg); color:var(--btn-color); border:var(--btn-border); border-radius:0;
  }
  button.disabled, .button.disabled, .nav button.disabled, .nav .button.disabled, .msg-cmd.disabled{
    opacity:0.7; color:var(--c)
  }
  button:hover:not(.disabled), .button:hover:not(.disabled),
  button:focus:not(.disabled), .button:focus:not(.disabled),
  .nav button:hover:not(.disabled), .nav .button:hover:not(.disabled),
  .nav button:focus:not(.disabled), .nav .button:focus:not(.disabled){
    color:var(--a); border:var(--btn-border); border-color:var(--a)
  }
  a.bbc{color:var(--c);border:1px solid #ccc;background-color:transparent}
  a.bbc:hover{color:var(--ah);border:1px solid var(--ah);background-color:var(--bgbtn)}
  /* Msg cmds */
  .msg-cmd{margin:0;padding:0.1rem 0.4rem;font-weight:normal;opacity:1;text-decoration:none;border-radius:0;background-color:var(--btn-bg);color:white;border:var(--btn-border)}
  .msg-cmd:hover{opacity:1;text-decoration:none;background-color:var(--btn-bg);color:var(--a);border-color:var(--a)}

  /* optionbar */
  #optionbar{background-color:#00858b}
  #optionbar-ctrl:hover, #optionbar-ctrl:focus{background-color:transparent;color:var(--adm-bg);border:none}
  #showeditor-ctrl{background-color:transparent;}
  #showeditor-ctrl:hover, #showeditor-ctrl:focus{background-color:transparent;color:var(--a);border-color:var(--a);opacity:1}
  #optionbar select:focus, #optionbar input[type=text]:focus{background-color:#222;border-color:var(--a)}

  /* MSGBOX */
  .msgbox{border:solid 2px var(--ban-bg)}
  .msgboxtitle{background:revert;background-color:var(--ban-bg)}
  .msgboxbody img.ico{background-color:#999;padding:5px;border-radius:50%}
    fieldset.register{border-color:#00ffff}
    fieldset.register legend{color:#00ffff}
  .msgboxbody p.list small {color:#ccc}
  .tag-box{border:none}
  .tag-box .filigrane{display:none}
  .tag-box .svg-symbol{color:#EEE}

  /* TAB PANELS (inherit base style) */
  .pan-tab{background-color:transparent}
  .pan-tab:hover{background-color:#000}
  .pan-tab.active{background-color:#222;border-color:#AAA #AAA #333 #AAA}
  .pan-tab a:hover{text-decoration:underline}
  .pan-tab a.active:hover{text-decoration:none}
  .pan-tab.active::after{background-color:#222}

  div.pan{background-color:#222}

  /* SPECIFIC */
  .strongbox{background:none;background-color:#000;border:none;border-radius:0}
  #participants{width:240px} .add-user{width:330px}
  @media screen and (min-width:1280px){#participants{width:260px} .add-user{width:360px}}
  #signature,#signature-preview{background-color:transparent;border:none}
  .pg-privacy img{background-color:#fff;padding:0.5rem;box-sizing:content-box;border-radius:3px}

  /* STATS */
  .t-stat{border-color:#000}
  .t-stat th {background-color:#000;color:var(--c)}
  .charts{background-color:#e0e0e0}

  /* CALENDAR */
  #calendar, #calendarnext{border-color:#777}
  .datenumber{font-size:1.2rem}
  #today .datenumber{border:3px solid #777;border-radius:5px;background-color: #000}
  #calendar td, #calendarnext td {background-color:#222;border-color:#777}
  #calendar th, #calendarnext th {background-color:#000;color:var(--c)}
  #calendar .outdate, #calendarnext .outdate{background-color:#777}

  /* TABLE and SEARCH PAGE*/
  tbody[data-dataset="newsontop"] tr:last-of-type td{border-bottom:solid 5px #346087}
  .t-sec, .t-data, .t-item, .t-user, .search-box{background-color:transparent;border:none}

  .search-box{background-color:#111; border:2px solid #000}
  .search-box:hover{background-color:#080808}
  .search-box .filigrane{color:#999}

  tr.hover:hover{background-color:#333}
  .section:hover{text-decoration:underline}
  table th,table th a{color:#CCC}
  table th a:hover{color:#FFF}
  .i-sec{background-color:#666;padding:5px;border-radius:10px}
  .i-item{background-color:#eee;padding:5px;border-radius:5px}

  .item-msg-preview{color:#CCC}
  .t-sec td, .t-data td, .t-item td, .t-user td{border-top:solid 2px #444}
  .t-item th.c-checkbox{background-color:transparent}
  .t-item td.c-checkbox{background-color:var(--rowlight)}
  .t-item .item{text-decoration:none}
  .t-item .item:visited{color:#FFFF88}
  .t-item .c-icon{width:40px;max-width:40px;text-wrap:nowrap;overflow:hidden}
  img.ne-class{padding:2px;background-color:#eee;border-radius:4px}
  a.goto i:hover{color:#FFFF00}
  .t-item .c-status{color:black}
  .t-profile th{background-color:transparent;border-color:transparent;color:#DDD}
  .t-profile td{background-color:transparent;border-color:#555}
  .t-data.horiz th{background-color:#333;color:#fff}
  .t-data.horiz td{background-color:#000;color:#fff}
  /* item */
  table.nefields{border-width:2px;border-color:#444}
  td.nefields{border-width:2px;border-color:#111}
  td.nefields:first-of-type{background-color:#111}
  .box-item-id{background-color:#111;border-color:#444;border-width:2px}
  .framechilds section{background-color:#111;border-color:#444;border-width:2px}
   .summary-area{border-color:#444;border-width:2px}
  .link.filigrane{color:#555}

  tbody.borderlines tr:first-of-type td{border-top:solid 2px #444}
  tbody.borderlines tr:last-of-type td{border-bottom:solid 2px #444}

  /* Row highlight */
  .rowlight:has(:checked){background-color:var(--rowlight);}
  .rowlight:has(:checked):hover{background-color:var(--rowlighthover);}

  div.post, div.edit-post, div.post:hover{background-color:#111;border-color:#000}
  div.g-p-title{border-color:#555}
  #quickreply, #quickreply:hover{background-color:#111;border-color:#000}
  .g-qr-title{color:#FFF}
  .i-container{background-color:transparent; color:#fff; border:2px solid #555; border-radius:8px}
  svg.i-item{padding:0;background-color:transparent;border:none}

  p.post-title-l:after{background-color:transparent;content:" (" attr(data-num) ")"}
  section.code, section.quote{background-color:#444;color:#fff}
  #tag-ctrl{color:#FFF} #tag-ctrl:hover{color:#FFFF00}

  /* JS DLG and AUTOCOMPETE */
  #cmd-cb-dlg{background-color:#222;border:solid 1px var(--adm-bg);box-shadow: 0 0 4px 4px #222 !important;}
  #cmd-cb-dlg span.optgroup{background-color:#444}
  #cmd-cb-dlg button{background-color:#008187;border:solid 1px var(--adm-bg);border-radius:3px}
  #cmd-cb-dlg button:hover{color:var(--a);border-color:var(--a)}

  .ac-list{background-color:#000;border:solid 1px #ffff00}
  .ac-list li{border:1px solid #222}
  .ac-list button{opacity:1;background-color:#000;color:#fff}
  .ac-list button:focus,
  .ac-list button:hover{color:#ffff00}

  }