/* RESET */
*, *::before, *::after{box-sizing:border-box;margin:0;padding:0}
html{font-size:min(100%,20px)} /* rem reference */
@media screen and (min-width:1280px){ html{font-size:min(105%,22px)} }
body{min-width:640px;font-weight:normal;text-size-adjust:none}
img{border:none;vertical-align:middle}
table{table-layout:auto;width:100%;border-collapse:separate;border-spacing:0;border:none;background-color:transparent}
td,th{padding:4px;text-align:left;vertical-align:middle;font-weight:normal}
form{display:inline}
input, button, textarea, select, optgroup, option{font:inherit}
button, .button, .clickable{cursor:pointer} .disabled, .active{cursor:default}

/* hack */
button.nostyle,
button.nostyle:hover{padding:0;background:none;border:none}

/* FOCUS improvement */
:hover, :focus{opacity:1}
input:focus, select:focus, textarea:focus{outline:none; border:1px solid #000}
.cblabel:focus-within{outline:1px solid transparent; outline-offset:4px; animation:cblabel 600ms}
@keyframes cblabel{from{outline-color:#000} to{outline-color:#FFF}}

/* LAYOUT */
@media screen and (max-width:840px){ .secondary{display:none !important} }

/* grid gap and padding */
:root{--gap:6px}
@media screen and (max-width:1023px) {:root{--gap:4px}}
/* Responsive design flex (left-right)*/
.flex-1{display:flex;flex-direction:row;gap:1rem;align-items:center}
.flex-sp{display:flex;flex-direction:row;justify-content:space-between;gap:1rem;align-items:center}
.flex-1.top, .flex-sp.top{align-items:flex-start}
.flex-1.bot, .flex-sp.bot{align-items:flex-end}
@media screen and (max-width:959px){.flex-sp{display:block} .flex-sp :last-child{justify-content:flex-end}}
/* Responsive design user/register dialogs (center) */
.user-dlg{display:flex;justify-content:center;gap:20px}
.user-dlg .aside{max-width:160px;text-align:center}
.user-dlg .msgbox{margin:0}
@media screen and (max-width:959px){.user-dlg .aside{max-width:250px} .user-dlg{flex-direction:column;align-items:center}}
/* Fixed design */
.fix-sp{display:flex;flex-direction:row;justify-content:space-between;align-items:center}
.fix-sp.top{align-items:flex-start}
.fix-sp.bot{align-items:flex-end}
.table-ui{display:flex;flex-direction:row;justify-content:space-between}
.table-ui.top{margin:0.6rem 0 0.3rem 0;align-items:flex-end}
.table-ui.bot{margin:0.3rem 0 0.6rem 0;align-items:flex-start}
.arrow-icon{display:inline-block;width:36px;text-align:center}
.cmds-cb .arrow-icon{transform:translateY(0.25rem)}
@media print{.table-ui .cmds-cb{visibility:hidden}}

/* FORM */
input, select, textarea{background-color:#fff}
input::placeholder{color:#CCC}
input:disabled{opacity:0.6}
option{background-color:#FFF;color:#000}
optgroup{background-color:#EEE;color:#444}
option:disabled{color:#888}
select{max-width:260px} select[name="secret_q"]{max-width:360px}
.cblabel .prefix_icon{vertical-align:baseline}
/* Buttons core */
button, .button{
  display:inline-block;padding:0.2rem 0.4rem;opacity:1;
  border-width:1px;border-radius:3px;font-weight:normal;text-decoration:none
}
button.disabled, .button.disabled{opacity:0.5}
button:hover:not(.disabled), .button:hover:not(.disabled),
button:focus:not(.disabled), .button:focus:not(.disabled){opacity:1;text-decoration:none}
/* Msg cmds */
.msg-cmds{margin:0;padding:0;display:flex;gap:0.3rem;align-items:flex-end;font-size:0.85rem}
.msg-cmd{margin:0;padding:0.1rem 0.4rem;text-decoration:none}
.msg-cmd:hover{text-decoration:none}

/* INLINE (p has margin in article and msgbox) */
svg:not([width]){width:1.1em} svg:not([height]){height:1em} /* protection required, if symbol style is missing */
article p, .article p, p.article, .msgboxbody p{margin-bottom:0.75rem}
p.submit, .msgboxbody p.submit{margin:1rem 0 0 0;text-align:center}
p.list{margin-bottom:2px}
.inline-block{display:inline-block}
.indent{margin-left:1rem} .indent2{margin-left:2rem}
@media screen and (max-width:1024px){.indent{margin-left:0.6rem} .indent2{margin-left:1.2rem}}
.ellipsis, .ellipsis p{overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
.ellipsis20, .ellipsis20 p{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;max-width:20ch}
small, .small, .minor, .error, .warning{font-size:0.85rem}
.s80{font-size:0.8rem}
.minor{color:#888}
.error{padding:0.1rem 0.4rem;border-radius:4px;background-color:#ffe6e6;color:#ff0000;font-weight:bold}
p.error{margin:0.3rem 0}
.warning{color:#888;font-weight:bold;font-style:italic}
.disabled{color:#aaa} a.disabled, a.disabled:hover{text-decoration:none;color:#aaa}
.b, .bold{font-weight:bold}
.i, .italic{font-style:italic}
.u, .underline{text-decoration:underline}
.center{text-align:center}
.right, p.submit.right{text-align:right} /* overwrite p.submit */
.left{text-align:left}
.upper{text-transform:uppercase}
.ban{color:red}
.stamp{font-size:1rem}
.stamp08{font-size:0.8rem}
.nodisplay{display:none}
.debug{padding:2px;background-color:#fff;color:#1364B7;font-size:9pt;font-weight:normal;font-family:system-ui,Arial}
.debug.red{color:#cc0000}
@media print {
  .tgl-ctrl .svg-angle-up, .tgl-ctrl .svg-angle-down, [id^="lang-"], #contrast-ctrl {display:none}
}
.bg-flash{animation:bgFlash 1s ease-in 0s 2 alternate;}
@keyframes bgFlash{from{background-color:transparent} to{background-color:rgb(255, 255, 146)} }

/* MSGBOX */
.msgboxbody article{margin-bottom:1.2rem}
/* Msgbox in void page */
body > .msgbox{margin:2vw auto}

/* TABLE */
tr.hover:hover{background-color:#F8F8F8}
.disabled svg{color:#BBB}
.svg-125{width:1.25em}
.c-replies svg{opacity:0.5}

/* TAB PANELS */
/* Tab menu */
.pan-tabs{display:flex;flex-wrap:wrap}
.pan-tab{padding:5px 10px;border-width:1px 1px 0 1px;border-style:solid;border-color:#d4d4d4;border-radius:5px 5px 0 0;font-weight:bold;white-space:nowrap;background-color:#EEE;text-decoration:none}
.pan-tab:hover{background-color:#FFF;text-decoration:none;border-color:#aaa}
.pan-tab.active{border-color:#AAA;background-color:#FFF;position:relative;pointer-events:none}
.pan-tab.active::after{content:'';display:block;position:absolute;bottom:-1px;left:0;height:2px;width:100%;background-color:#fff}
.pan-tab:first-child{margin-left:10px}
/* Panel */
div.pan{margin: 0 0 10px 0;padding:10px 15px 15px 15px;border:1px solid #AAA;background-color:white;color:inherit}
.pan-title{margin:0 0 15px 0;padding:0;text-align:right;color:#BBB;font-family:"Times new roman", Verdana, Arial, sans-serif;font-size:1.6rem;font-weight:bold;font-style:italic}

/* DIALOG */
#pagelog{margin:5px;padding:5px;font-family:Arial;font-size:8pt;background-color:#eee;color:#444}
#splash{
display:flex;align-items:center;opacity:0;z-index:12;position:fixed;top:20px;left:50%;
margin-left:-150px;width:300px;padding:20px;
color:black;font-weight:bold;white-space:pre-line;vertical-align:middle;
background:#ffc;border:1px solid #666;border-radius:8px;box-shadow:0 0 5px 5px #AAA;
}
@keyframes splashFade{0%{opacity:0}100%{opacity:1}}/*javascript triggers animation: splashFade 2s ease 1s 2 alternate;*/
#splash-ico{margin-right:20px}

/* Image magnifier */
.magnifier{position:relative;cursor:pointer}
.magnifier:has([data-magnify="1"])::before{content:'';display:inline-block;width:40px;height:40px;vertical-align:middle}
[data-magnify="0"]{display:inline;height:40px;border:1px solid #FFF;border-radius:10px;cursor:pointer}
[data-magnify="1"]{display:block;max-width:100px;max-height:100px;position:absolute;z-index:9;top:-25px;left:-15px;padding:5px;background-color:#FFF;border:solid 1px #DDD;border-radius:5px;box-shadow:2px 2px 4px #BBB;cursor:pointer}

/* JS DLG and AUTOCOMPETE */
#cmd-cb-dlg{font-size:0.9em;background-color:#fff;padding:0.2rem;border:solid 1px var(--adm-bg);border-radius:5px;box-shadow:0 0 5px #aaa}
#cmd-cb-dlg p{max-height:180px;overflow:auto;scrollbar-width:thin}
#cmd-cb-dlg span.optgroup{background-color:#eee;font-weight:600;padding:0.1rem 0.25rem}
#cmd-cb-dlg a{padding:0 1px 2px 6px;color:var(--adm-bg);text-decoration:none}
#cmd-cb-dlg a:hover{background-color:var(--adm-bg);color:white;text-decoration:none;cursor:default}
#cmd-cb-dlg button{padding:0.1rem 0.5rem;background-color:var(--adm-bg);color:white;border:solid 1px var(--adm-bg);border-radius:3px}
#cmd-cb-dlg button:hover{border-color:var(--adm-bg);color:white}
[id^="ac-wrapper"]{display:inline-block;position:relative}
.ac-list{list-style:none;z-index:2;padding:unset;margin:unset;position:absolute;width:100%;background-color:white;box-shadow:0 0 5px #aaa}
.ac-list li{border:1px solid #aaa; border-top:unset}
.ac-list button{display:block;width:100%;text-align:left;padding:0.2rem 0.3rem;border:unset;background:unset;
  opacity:0.6;color:black;background-color:#e7e7e7;
  white-space:nowrap;overflow:hidden;text-overflow:ellipsis;font-family:Calibri,Arial;font-size:min(1rem,20px)}
.ac-list button:focus:not(.disabled),
.ac-list button:hover:not(.disabled){box-shadow:unset;color:black;opacity:1}

.jvalue img{margin:0 4px 0 0}
.jinfo{font-style:italic}