/* IMPORTANT: contrast is inside @media screen{}, thus NOT applied @media print */
/* Contrast is loaded after others css. It can overwrite/transform previous rules having the same specificity */

@media screen {

:root{
  color-scheme:dark;
  --c:#FFF; --a:#FFFF00; --ah:#FFFF00;
  --bgbanner:#125faf; --bgbtn:#1364B7; --bgform:#002140;
  --bgadmin:#009dff; --rowlight:#071b38; --rowlighthover:#002e4b;
}

/* TYPO */
body{font-size:min(110%,22px)}
*{box-shadow:none !important}

/* LAYOUT */
body{background:revert;background-image:none;background-color:#222}
#site,main{background-color:transparent;border:none}
#main-hd,#main-ct,#main-ft{padding:1vw 0}

input, button, textarea, select, option, #rules{background-color:#222;color:#ffffcc}
input:focus, button:focus, textarea:focus, select:focus{outline:none; border:1px solid #ffff00}
optgroup{background-color:#000;color:#ffff55}
a{text-decoration:none}
a:hover{text-decoration:underline}
.tag{background-color:#d4ebff;border:1px solid #d4ebff;color:black}
a.tag:hover{background-color:#000;border-color:#FFFF00;color:#FFFF00;text-decoration:none}
a.lastitem{margin-left:0.2rem;color:#ffffcc}
a.lastitem:hover{color:var(--ah)}
@media print{a.lastitem{display:none}}
.minor, .disabled{color:#aaa}
a.page, a.page.current, a.page.first, a.page.last{border:solid 1px #888;border-radius:0}
a.page.current{background-color:#000}
#pagelog{font-size:9pt;background-color:#000;color:#fff}
div.lettres a{background-color:#000;color:#fff;border-color:#444}
div.lettres a:not(.active):hover{background-color:#000;color:#FFFF00;border-color:#FFFF00}
.toggle-pwd:has(.svg-eye):hover{color:#000}

/* BANNER */
#banner[data-layout="0"] #menulang{background-color: #333; border:none}
#banner[data-layout="0"] nav{background-color: var(--bgbanner);border-radius:5px}
#banner[data-layout="1"],
#banner[data-layout="2"] {background:linear-gradient(to bottom, #0b4783 20%, var(--bgbanner));border:2px solid var(--bgbanner);border-radius:5px 5px 0 0;border-bottom:none}
  /* LANG */
  #banner[data-layout="1"] #menulang, #banner[data-layout="2"] #menulang {padding:0 5px 0 0}
  #menulang .active{color:#FFF;font-weight:bold} #banner[data-layout="0"] #menulang .active{color:#FFF}
  #menulang a{color:#ddd}                        #banner[data-layout="0"] #menulang a {color:#ddd}
  #menulang a:hover{color:var(--ah)}               #banner[data-layout="0"] #menulang a:hover {color:var(--ah)}
  /* NAV */
  :root{--nav-c:#DDD; --nav-a:#DDD; --nav-ah:#FFFF00}
  nav a{background-color:transparent;border-color:transparent}
  nav a.active{color:var(--c)}

/* WELCOME and SEARCH */
#intro{margin:0;background:none;background-color:#094178;border:none}
#intro a{color:#FFF}
#searchbar{background:none;background-color:#094178;border:none;border-bottom:2px solid var(--bgbanner)}
  #searchbar a{color:var(--a)}
  #searchbar a.button-x:hover{color:var(--a)}
#viewmode{padding:4px 6px;background-color:transparent;border:solid 1px #fff;color:#FFF} #viewmode:hover{color:#FFFF00;border-color:#FFFF00}

aside{background-color:#444;color:#ccc;border:none}
#aside-ctrl{color:#FFFF00;border:none}
#aside-ctrl:hover{color:#FFFF00;border-color:#FFFF00}
footer{border-top:none}
footer a{color:#bbb} footer a:hover{color:#FFF}

.pg-title{color:#DDD}

/* BUTTON */
button,
a.button,
.tag-btn,
.post-cmd a.button{opacity:1;background-color:var(--bgbtn);color:var(--c);border:1px solid #388cdf;border-radius:5px;text-decoration:none;text-shadow:none}
button:hover, button:focus,
a.button:hover, a.button:focus,
.post-cmd a.button:hover, .post-cmd a.button:focus,
.tag-btn:hover, .tag-btn:focus{background-color:var(--bgbtn);color:var(--a);border:1px solid var(--ah)}
button.disabled, a.button.disabled{opacity:0.8;color:#AAA}
a.bbc{color:var(--c);border:1px solid #ccc;background-color:transparent}
a.bbc:hover{color:var(--ah);border:1px solid var(--ah);background-color:var(--bgbtn)}

/* OPTIONSBAR */
#optionsbar-ctrl:hover, #optionsbar-ctrl:focus{background-color:transparent;color:var(--bgadmin)}
#showeditor-ctrl:hover, #showeditor-ctrl:focus{background-color:transparent;color:var(--a)}
#optionsbar select:focus, #optionsbar input[type=text]:focus{background-color:#000;border-color:#ffff00}

/* MSGBOX */
.msgbox{border:solid 2px var(--bgbanner)}
.msgboxtitle{background:revert;background-color:var(--bgbanner)}
.msgboxbody img.ico{background-color:#999;padding:5px;border-radius:50%}
  fieldset.register{border-color:#00ffff}
  fieldset.register legend{color:#00ffff}
.tag-box{border-color:#ddd}
.tag-box p{color:#ccc}
.msgboxbody p.list small {color:#ccc}

/* TAB PANELS (inherit base style) */
.pan-tab{background-color:transparent}
.pan-tab:hover{background-color:#000}
.pan-tab.active{background-color:#222;border-color:#AAA #AAA #333 #AAA}
.pan-tab a:hover{text-decoration:underline}
.pan-tab a.active:hover{text-decoration:none}
.pan-tab.active::after{background-color:#222}

div.pan{background-color:#222}

/* SPECIFIC */
.strongbox{background:none;background-color:#000;border:none;border-radius:0}
#participants{width:240px} .add-user{width:330px}
@media screen and (min-width:1280px){#participants{width:260px} .add-user{width:360px}}
#signature,#signature-preview{background-color:transparent;border:none}
.pg-privacy img{background-color:#fff;padding:0.5rem;box-sizing:content-box;border-radius:3px}

/* STATS */
.t-stat{border-color:#000}
.t-stat th {background-color:#000;color:var(--c)}
.charts{background-color:#e0e0e0}

/* CALENDAR */
#calendar, #calendarnext{border-color:#777}
.datenumber{font-size:1.2rem}
#today .datenumber{border:3px solid #777;border-radius:5px;background-color: #000}
#calendar td, #calendarnext td {background-color:#222;border-color:#777}
#calendar th, #calendarnext th {background-color:#000;color:var(--c)}
#calendar .outdate, #calendarnext .outdate{background-color:#777}

/* TABLE and SEARCH PAGE*/
.t-sec, .t-data, .t-item, .t-user,
.search-box{background-color:#000;border:solid 3px #000}
.search-box:hover{background-color:#080808}
.search-box .filigrane svg{color:#aaa}
tr.hover:hover{background-color:#222}
.section:hover{text-decoration:underline}
table th,table th a{color:#CCC}
table th a:hover{color:#FFF}
.i-sec{background-color:#ddd;padding:5px;border-radius:10px}
img.prefix_icon{background-color:#888;padding:4px;border-radius:4px}
.item-msg-preview{color:#CCC}
.t-sec td, .t-data td, .t-item td, .t-user td{border-top:solid 2px #222}
.t-item th.c-checkbox{background-color:transparent}
.t-item td.c-checkbox{background-color:var(--rowlight)}
.t-item .item{text-decoration:none}
.t-item .item:visited{color:#FFFF88}
.t-item .c-icon{width:40px;max-width:40px}
.t-item .c-icon a img{transform:scale(1.3);padding:4px;background-color:#333;border-radius:5px}
.t-item .c-status{color:black}
.t-profile th{background-color:transparent;border-color:transparent;color:#DDD}
.t-profile td{background-color:transparent;border-color:#555}
.t-data.horiz th{background-color:#333;color:#fff}
.t-data.horiz td{background-color:#000;color:#fff}

/* Special */
div.post, div.edit-post, div.post:hover{background-color:#000;border-color:#000}
div.g-p-title{border-color:#555}
.quickreply, .quickreply:hover{background-color:#000;border-color:#000}
.g-qr-title{color:#FFF}
.i-container{width:37px;height:37px;background-color:#444;color:#fff;border:1px solid #888;border-radius:8px;font-size:1.2rem}
.i-container img{transform:scale(1.3)}
p.post-title-l:after{background-color:transparent;content:" (" attr(data-num) ")"}
section.code, section.quote{background-color:#444;color:#fff}
#tag-ctrl{color:#FFF} #tag-ctrl:hover{color:#FFFF00}

/* AJAX AUTOCOMPETE*/
.ac-list{background-color:#000;border:solid 1px #ffff00}
.ac-list li{border:1px solid #222}
.ac-list button{opacity:1;background-color:#000;color:#fff}
.ac-list button:focus,
.ac-list button:hover{color:#ffff00}

}