body{color:#000;background-color:#EEE;font-family:Verdana,Arial,sans-serif}

main{margin:1rem auto;padding:0;width:750px;border:1px solid #156AC2;box-shadow:3px 3px 5px #aaa;}
@media screen and (min-width:1024px){main{width:850px}}

header, nav{padding:0.5rem;color:white}
header{background:#0C4C8C;background:linear-gradient(to bottom,#0C4C8C 20%,#156AC2)}
.tools{padding:0.5rem;text-align:right}
nav{background:linear-gradient(to top,#0C4C8C 20%,#156AC2)}

div.main{padding:1.5rem 0.5rem}
.setup_1 .main,
.setup_2 .main,
.setup_3 .main{display:grid;gap:0.3rem;grid-template-columns:3fr 1fr}
aside{padding-left:0.5rem;border-left:2px dotted #cccccc;font-size:0.8rem;color:#000099}

h1{margin-bottom:1rem;font-size:1.1rem}
a{color:#0000FF;text-decoration:none}
a:hover{text-decoration:underline}
.is_ok{margin-bottom:1rem;padding:0.2rem 0.5rem;background-color:#CCFFCC;border:1px solid #99FF00}
.is_err{margin-bottom:1rem;padding:0.2rem 0.5rem;background-color:#FFFFCC;border:1px solid #FF9900}
input, select{padding:3px 5px;border:solid 1px #d0d0d0}
button{padding:3px 8px;background-color:#1364B7;opacity:0.8;color:white;border:2px solid #1364B7;text-decoration:none;border-radius:3px}
button:hover, button:focus{opacity:1}
a.button{display:inline-block;margin:0 0 0 0.5rem;padding:7px 15px;border:1px solid #AAA;font-weight:bold;background:linear-gradient(to top,#FFF 3px,#d4d4d4)}
a.button:hover{text-decoration:none}
a.button:not(.disabled):hover{background:linear-gradient(to bottom,#FFF 3px,#d4d4d4)}