/* WELCOME */
#intro{font-size:1.1rem;padding:1.5rem;background-color:#333;color:#e0e0e0}
#intro p{color:#e0e0e0;margin:0 0 0.5rem 0}
#intro a{color:#e0e0e0;text-decoration:underline}
#intro a:hover{color:#FFF}

/* PAGING and ROWCOMMANDS */
p.paging{padding:0.6rem 0;text-align:right}
.rowcommands{color:var(--bgadmin);text-decoration:none}
a.rowcommands:hover{color:var(--bgadmin);text-decoration:underline}
a.page{padding:0 0.2rem;border:solid 1px #ddd}
a.page.current{background-color:#eee;color:var(--c);text-decoration:none;cursor:default}
a.page.first{border-radius:3px 0 0 3px;margin-left:0.5rem}
a.page.last{border-radius:0 3px 3px 0}

/* SPECIFIC */
.strongbox{padding:0.6rem;background-color:#666;color:#EEE;box-shadow:-2px 2px 5px #BBB}
.strongbox .title{margin-bottom:0.5rem;font-weight:700}
#participants{width:200px}
  #participants table{table-layout:fixed;width:100%}
  #participants td:first-child{width:75%;overflow:hidden;white-space:nowrap;text-overflow:ellipsis}
  #participants td{padding:1px 0}
  #participants a{color:#EEE}
  #participants a:hover{color:#FFF}
.add-user{width:300px;margin:0 0 20px 0;text-align:right}
  .add-user input[type=text], .add-user input[type=email]{width:85%}
  .add-user button[type=submit]{background-color:#DDD;color:#000;border:none;opacity:0.8}
  .add-user button[type=submit]:hover{opacity:1}
  .add-user p:last-of-type{margin-bottom:0}
@media screen and (min-width:1280px){#participants{width:220px} .add-user{width:330px}}

/* MEMBERLIST PROFILE */
.t-profile{margin:0 0 10px 0}
.t-profile th, .t-profile td{padding:0.4rem;border-bottom:solid 1px #d0d0d0}
.t-profile th{width:140px;text-align:right;background-color:#eee} @media screen and (min-width:1024px){.t-profile th{width:150px} }
.t-profile td{background-color:#f6f6f6}
[data-private]{color:#888} [data-private="0"]{color:orange}

/* USER */
#user-name{grid-area:name;order:1}
#user-ui{grid-area:ui;order:3}
#user-menu{grid-area:menu;order:2} #user-menu p{margin-bottom:0.4rem}
#user-main{grid-area:main;order:4}
.pg-user{display:grid;grid-template-columns: 25% auto auto auto auto;grid-template-areas:'name name name ui ui' 'menu main main main main';gap:5px}
@media screen and (max-width: 959px){
  .pg-user{display:flex;flex-direction:column}
  #user-name h1, #user-menu{text-align:center;margin:0}
  #user-menu img{display:block;margin:0 auto 5px auto}
  #user-menu p{display:inline-block;margin:0 8px;padding:0;white-space:nowrap}
  #user-ui{margin:8px auto 0 auto}
}

/* ITEMS */
.i-item[data-status="1"]{filter:grayscale(1)}
.item-msg-preview{color:#888}
.item-msg-preview::before{content:"\a";white-space:pre}

/* MESSAGE */
/* message layout */
div.post{
  margin-top:10px;
  padding:var(--gap);
  display:grid;
  grid-template-columns:min-content 1fr;
  grid-template-rows:min-content 1fr;
  grid-template-areas: "g-p-type g-p-title" "g-p-type g-p-msg" "g-p-type g-p-status";
  column-gap:var(--gap);
  background-color:#f2f2f2;border:1px solid #ddd;border-top-left-radius:10px;
}
div.post-R, div.post-F, div.post-D{margin:10px 0 10px 50px}
@media screen and (max-width:860px){div.post-R, div.post-F, div.post-D{margin:10px 0}}
.g-p-type{grid-area:g-p-type}
.g-p-title{grid-area:g-p-title;padding-bottom:var(--gap);display:flex;justify-content:space-between;align-items:center;border-bottom:1px solid #ddd}
.g-p-msg{grid-area:g-p-msg;padding:var(--gap) 0}
.g-p-status{grid-area:g-p-status}
/* message content */
.i-container{display:flex;width:35px;height:35px;align-items:center;justify-content:center;background-color:#FFF;color:#aaa;border:1px solid #DDD;border-radius:8px}
.post-user{float:right;margin:var(--gap);padding:5px;max-width:100px;background-color:#FFF;border:solid 1px #DDD;border-radius:5px;box-shadow:0 0 4px #BBB}
.post-title-l:after{content:attr(data-num);display:inline-block;margin-left:0.5rem;background-color:#dfdfdf;padding:0 4px}
.post-title-r{font-size:1.1rem}
.post-attachment{font-size:0.8rem}
.post-cmd{display:flex;gap:4px;align-items:baseline;font-size:max(0.8rem,9pt)}
.post-cmd a.button{padding:1px 4px}
.post-img{display:block;margin:5px 0;max-width:550px;overflow:auto}
p.quotetitle,
p.codetitle{margin:1px;max-width:600px;color:#888;font-style:italic;font-size:0.9rem}
section.quote{margin:1px 1px 6px 1px;width:600px;padding:3px 5px;background-color:#e7ebf3;color:#888;border-left:solid 5px #d0d0d0}
section.code{margin:1px 1px 6px 1px;max-width:550px;padding:3px;font-family:Courier,sans-serif;overflow:auto;white-space:pre;background-color:#e7ebf3;border-left:solid 5px #d0d0d0}
/* message content compact */
#site.compact .post-img{display:none}
#site.compact p.quotetitle, #site.compact section.quote, #site.compact div.g-p-msg p:not(p.code){display:inline}

/* Image magnifier */
.magnifier{position:relative}
[data-magnify="0"]{display:inline;height:40px;border:1px solid #FFF;border-radius:10px;cursor:pointer}
[data-magnify="1"]{display:block;max-width:150px;max-height:150px;position:absolute;z-index:9;top:-10px;left:-10px;padding:5px;background-color:#FFF;border:solid 1px #DDD;border-radius:5px;box-shadow:2px 2px 4px #BBB;cursor:pointer}